<style>
    .ikagaiBlockDailyNews {
        background-color: rgb(226, 247, 235);
        padding: 3rem 0;
    }
    
    *,
     ::after,
     ::before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .ikagaiPage_heading__title {
        font-weight: 900;
        font-size: 2.8rem;
        color: #475358;
        margin-bottom: 10px;
    }
    
    .ikagaiPage_heading {
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .ikagaiBlockDailyNews .ikagaiPage_heading {
        margin-bottom: 1.5rem;
    }
    
    .ct_container {
        margin: auto;
        padding: 0 15px;
        max-width: 1200px;
        width: 100%;
        min-width: 980px;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        display: block;
    }
    
    a {
        display: inline-block;
        text-decoration: none;
    }
    
    .ikagaiBlockDailyNews .btnViewmore {
        font-style: italic;
        font-size: 18px;
        color: #ffffff;
        margin-bottom: 20px;
        padding: 8px 20px;
        border-radius: 40px;
        background: #1a9c97;
    }
    
    .ikagaiPage_heading__subtitle {
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 1.4;
    }
    
    .col-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    
    .ikagaiBlockDailyNews_body .item .body_text h3 a {
        color: #656565;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
    }
    
    .ikagaiBlockDailyNews_body .item .body_text h3 {
        font-size: 16px;
        margin: 10px 0;
        padding: 0 15px;
        font-weight: 400;
    }
    
    .ikagaiBlockDailyNews_body .item {
        background: #fff;
        border-radius: 10px;
        padding: 5px;
        overflow: hidden;
    }
    
    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    
    .ikagaiBlockDailyNews_body .item .thumnail_img img:hover {
        transform: scale(1.1);
    }
    
    .ikagaiBlockDailyNews_body .item .thumnail_img img {
        border-radius: 10px;
        overflow: hidden;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all .5s;
        transition: all .5s;
    }
    
    .text-center {
        text-align: center;
    }
    
    @media only screen and (max-width: 768px) {
        .ikagaiBlockDailyNews {
            display: none;
        }
    }
</style>
<section class="ikagaiPage ikagaiBlockDailyNews">
    <div class="ct_container">
        <div class="ikagaiPage_heading">
            <h2 class="ikagaiPage_heading__title">
                THỜI SỰ IKIGAI: CẬP NHẬT SỐ MỚI NGAY!
            </h2>
            <h4 class="ikagaiPage_heading__subtitle">
                <strong>Cập nhập nhanh nhất</strong> thông tin hoạt động thực tế dành cho học viên, <br> Cộng đồng & Chia sẻ những hình ảnh, khoảnh khắc đẹp nhất!
            </h4>
        </div>
        <div class="text-center">
            <a target="_blank" href="https://www.facebook.com/Nh%E1%BA%ADt-Ng%E1%BB%AF-ikigai-103271318326995/?modal=admin_todo_tour&notif_id=1607673863391495&notif_t=page_invite&ref=notif" class="btnViewmore">Xem thêm <i
                        class="fa fa-angle-double-right"></i></a>
        </div>
        <div class="ikagaiBlockDailyNews_body">
            <div class="row">
                <div class="col-4">
                    <div class="item">
                        <div class="thumnail_img">
                            <a href="https://www.japan.travel/vi/guide/spring-guide/" target="_blank">
                                <img src="../public/images/size giua-07.jpg" alt="Xuân về trên xứ người: Trải nghiệm trọn vẹn tết Việt Tại Nhật">
                            </a>
                        </div>
                        <div class="body_text">
                            <h3>
                                <a href="https://www.japan.travel/vi/guide/spring-guide/" target="_blank">
                                    Xuân về trên xứ người: Trải nghiệm trọn vẹn tết Việt Tại Nhật
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="item">
                        <div class="thumnail_img">
                            <a href="https://riki.edu.vn/series-hoc-tu-nguoi-gioi-goc-chia-se-kinh-nghiem-bo-ich-trong-ky-thi-jlpt/" target="_blank">
                                <img src="../public/images/size giua-07.jpg" alt="Seriese Học từ người giỏi - Góc chia sẻ kinh nghiệm xương máu trong kỳ thi JLPT">
                            </a>
                        </div>
                        <div class="body_text">
                            <h3>
                                <a href="https://riki.edu.vn/series-hoc-tu-nguoi-gioi-goc-chia-se-kinh-nghiem-bo-ich-trong-ky-thi-jlpt/" target="_blank">
                                    Seriese "Học từ người giỏi" - Góc chia sẻ kinh nghiệm xương máu trong kỳ
                                    thi
                                    JLPT
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="item">
                        <div class="thumnail_img">
                            <a href="https://www.facebook.com/Nh%E1%BA%ADt-Ng%E1%BB%AF-ikigai-103271318326995/?modal=admin_todo_tour&notif_id=1607673863391495&notif_t=page_invite&ref=notif" target="_blank">
                                <img src="../public/images/size giua-07.jpg" alt="Tổng kết ikagai open tour 2019: Trải nghiệm thực tế cực " cool " cùng
                                ikigai">
                            </a>
                        </div>
                        <div class="body_text">
                            <h3>
                                <a href="https://www.facebook.com/Nh%E1%BA%ADt-Ng%E1%BB%AF-ikigai-103271318326995/?modal=admin_todo_tour&notif_id=1607673863391495&notif_t=page_invite&ref=notif" target="_blank">
                                    Tổng kết ikigai open tour 2019: Trải nghiệm thực tế cực " cool" cùng ikagai
                                    Xã
                                    Đàn
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>