<section class="ikagaPage ikagaBlockSocial" style="background: url('../../public/images/bgr_dot_01.png') left 250px / contain no-repeat; padding-bottom: 40px;">
    <div class="ct_container">
        <div class="ikagaPage_heading">
            <h2 class="ikagaPage_heading__title" style="text-align: center;">
                Cộng đồng học tiếng Nhật cùng IKIGAI
            </h2>
        </div>

        <div class="ikagaBlockSocial_body">
            <div class="row">
                <div class="col-4">
                    <h3 class="ikagaBlockSocial_title">FANPAGE</h3>
                    <div class="item_social">
                        <div class="item_social__thumnail">
                            <div class="hm-responsive">
                                <a href="https://www.facebook.com/nhatngu.ikigai" target="_blank">
                                    <img class="lazyload" src="../../public/images/Fanpage/fanpage.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="item_social__body">
                            <div class="descripton">
                                <strong>Fanpage 256.152 like</strong> nơi chia sẻ, <br> thông báo sự kiện IKIGAI
                            </div>
                            <div class="text-center">
                                <a href="https://www.facebook.com/nhatngu.ikigai" class="btn_join_isocial" target="_blank">
                           Tham gia
                       </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h3 class="ikagaBlockSocial_title">GROUP</h3>
                    <div class="item_social">
                        <div class="item_social__thumnail">
                            <div class="hm-responsive">
                                <a href="https://www.facebook.com/nhatngu.ikigai" target="_blank">
                                    <img class="lazyload" src="../../public/images/Fanpage/group.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="item_social__body">
                            <div class="descripton">
                                <strong>Group 30.000+</strong> thành viên chia sẻ kiến <br> thức hữu ích hàng ngày
                            </div>
                            <div class="text-center">
                                <a href="https://www.facebook.com/nhatngu.ikigai" class="btn_join_isocial" target="_blank">
                           Tham gia
                       </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h3 class="ikagaBlockSocial_title">CHANEL</h3>
                    <div class="item_social">
                        <div class="item_social__thumnail">
                            <div class="hm-responsive">
                                <a target="_blank" href="https://www.youtube.com/channel/UCk0ZfSp5RMCwRrQw8K04zaA?view_as=subscriber&fbclid=IwAR1j1GS_dgmQhhwl7ADuU0ynUzyWsobP_R8QITQkmDkVDuCcurLGA93z76I">
                                    <img class="lazyload" src="../../public/images/Fanpage/channel.png" alt="">
                                </a>
                            </div>
                            <div class="item_social__body">
                                <div class="descripton">
                                    <strong>Kênh video miễn phí</strong> tiếng nhật hàng <br> đầu tại Việt Nam
                                </div>
                                <div class="text-center">
                                    <a target="_blank" href="https://www.youtube.com/channel/UCk0ZfSp5RMCwRrQw8K04zaA?view_as=subscriber&fbclid=IwAR1j1GS_dgmQhhwl7ADuU0ynUzyWsobP_R8QITQkmDkVDuCcurLGA93z76I" class="btn_join_isocial">
                               Tham gia
                           </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .ikagaBlockSocial {
        padding: 3rem 0;
    }
    
    .ikagaBlockSocial_title {
        text-align: center;
        font-size: 25px;
        font-weight: 900;
        margin: 15px 0;
    }
    
    .ikagaBlockSocial_body .item_social__thumnail .hm-responsive {
        position: relative;
        height: auto !important;
        width: 100%;
        padding-top: 60%;
        overflow: hidden;
    }
    
    *,
     ::after,
     ::before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        display: block;
    }
    
    .ikagaBlockSocial_body .item_social {
        background: #fff;
        padding: 15px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 15px -5px #2ebdb7d4;
        box-shadow: 0px 0px 15px -5px #2ebdb7d4;
    }
    
    .ikagaBlockSocial_body .item_social__thumnail {
        border-radius: 10px;
    }
    
    a {
        display: inline-block;
        text-decoration: none;
    }
    
    .ikagaBlockSocial_body .item_social__body .btn_join_isocial {
        border-radius: 40px;
        color: #2EBDB7;
        border: 2px solid #2EBDB7;
        padding: 6px 20px;
        font-weight: bold;
        font-size: 18px;
        background: #05b7ac0f;
        margin-bottom: 30px;
    }
    
    .ikagaBlockSocial_body .item_social__body .descripton {
        margin: 10px 0 30px;
        font-size: 1.2rem;
    }
    
    .text-center {
        text-align: center;
    }
    
    .ikagaBlockSocial_body .item_social__thumnail .hm-responsive img {
        -o-object-fit: cover;
        object-fit: cover;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    
    .col-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    
    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    
    a {
        background-color: transparent;
    }
    
    .ct_container {
        margin: auto;
        padding: 0 15px;
        max-width: 1200px;
        width: 100%;
        min-width: 980px;
    }
    
    .ikigaPage_heading {
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .ikigaPage_heading__title {
        font-weight: 900;
        font-size: 2.8rem;
        color: #475358;
        margin-bottom: 10px;
    }
    
    @media only screen and (max-width: 768px) {
        .ikagaBlockSocial {
            display: none;
        }
    }
</style>