<div class="footer">
    <div class="center-container">
        <div class="col-md-3 col-sm-12 col general-box" style="padding-right: 20px">
            <div class="center-container-tool">
                <img src="../public/images/logo/logo ikigai-01.png">
            </div>
            <div>
                <a href="https://goo.gl/maps/12wPxvgSxGyXK7eA6" target="_blank">
            Trường Đại học Công nghệ Thông tin ĐHQG TP.HCM<br>
            Song Hành, khu phố 6, Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam
        </a>
            </div>
            <div>
                <a href="mailto:duongminhluong89@gmail.com" target="_top">
                    <p style="margin-bottom: 10px;"><i class="far fa-envelope "></i> duongminhluong@gmail.com</p>
                </a>
            </div>
            <div>
                <a href="tel:+84969868485"><i class="fas fa-phone-volume "></i>&nbsp;Online: +84.969.868.485</a><br>
                <a href="tel:+84969856116"><i class="fas fa-phone-volume " style="opacity: 0"></i> Offline: +84.969.856.116</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col general-box  hiden-mobile">
            <h3 class="title">VỀ CHÚNG TÔI</h3>
            <ul class="links">
                <li><a href=""> Về UIT </a> </li>
                <li><a href=""> Chính sách đổi trả </a> </li>
                <li><a href=""> Điều khoản sử dụng </a> </li>
                <li><a href=""> Chính sách bảo mật thông tin</a> </li>
            </ul>
        </div>
        <div class="col col-md-3 col-sm-12 general-box  hiden-mobile">
            <h3 class="title">Lịch làm việc</h3>
            <div class="schedule">
                <p>Thứ 2 đến thứ 6: <br> &nbsp; &nbsp; &nbsp; Sáng 7h00 - 11h30<br> &nbsp; &nbsp; &nbsp; Chiều 13h30 - 17h00
                </p>
                <p>Thứ 7: <br> &nbsp; &nbsp; &nbsp; Sáng 8h00 - 12h00<br> &nbsp; &nbsp; &nbsp; Chiều 13h00 - 15h00
                </p>
            </div>
        </div>

        <div class="col col-md-3 col-sm-12 contact-box  hiden-mobile">
            <h3 class="title">Công ty cổ phần nhiều thành viên</h3>
            <p>Công ty cổ phần nhiều thành viên </p>

            <p style="font-size: 14px; line-height: 24px; text-align: justify ">

            </p>
        </div>
    </div>
    <div class="social-box">


        <div class="mobile-app box ">
            <a target="_blank " class="mobile-app-button ">
                <img src="../public/images/nihongozin_ios.png " alt="img ">
            </a>
            <a target="_blank " class="mobile-app-button ">
                <img src="../public/images/nihongozin_android.png " alt="img ">
            </a>
        </div>
        <div class="social box ">
            <a href="https://www.facebook.com/nhatngu.ikigai" target="_blank ">
                <img src="../public/images/logo/footer-fb.png " alt="img ">
            </a>
            <a href="https://www.youtube.com/channel/UCk0ZfSp5RMCwRrQw8K04zaA?view_as=subscriber&fbclid=IwAR1j1GS_dgmQhhwl7ADuU0ynUzyWsobP_R8QITQkmDkVDuCcurLGA93z76I" target="_blank ">
                <img src="../public/images/logo/footer-youtube.png" alt="img ">
            </a>
            <a href="https://www.instagram.com/" target="_blank ">
                <img src="../public/images/logo/footer-insta.png" alt="img ">
            </a>
        </div>
    </div>

    <div class="copyright-box ">
        <span>Copyright © 2020 by ikigai</span>
    </div>
</div>