<div class="site-header">
    <div class="header-top">

    </div>
    <div class="header-content mid-header">
        <div class="container">
            <a href="/" class="logo" id="logo">
                <img src="../public/images/logo/logo ikigai-01.png" alt="logo">
            </a>
            <div class="block-nav-menu">
                <ul class="ui-menu">
                    <li>
                        <div class="dropdown">
                            <a href="/login" class="mn-item chuyen-nganh">Khóa học</a>

                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a href="/login" class="mn-item cn5">Kỹ năng</a>

                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a href="/login" class="mn-item cn5">Luyện thi</a>
                        </div>
                    </li>

                    <li class="login_web" id="login-web">

                        <div class="account-container" id="account-container">
                            <a href="/login">
                                <div class="text-login">Đăng nhập</div>
                            </a>
                        </div>

                    </li>

                </ul>
            </div>
        </div>
    </div>

</div>

<div class="mobile-header">

    <div id="nav-icon">
        <span class="nav-span"></span>
        <span class="nav-span"></span>
        <span class="nav-span"></span>
        <ul class="dropdown-menu">
            <li>
                <a href="/"><img class="icon-menu-item" src="../public/images/logo/logo ikigai-01.png" />
                    <p>Trang chủ</p>
                </a>

            </li>

            <div class="col">
                <div class="tabs">
                    <div class="tab">
                        <input type="checkbox" id="chck1">
                        <label class="tab-label" for="chck1"><img class="icon-menu-item" src="" /><p>Khoá JLPT</p></label>
                        <div class="tab-content">
                            <a href="/khoahoc/N5">
                                <p>N5

                                </p>
                            </a>
                            <a href="/login">
                                <p>N4</p>
                            </a>
                            <a href="/login">
                                <p>N3</p>
                            </a>
                            <a href="/login">
                                <p>N2</p>
                            </a>
                            <a href="/login">
                                <p>N1</p>
                            </a>
                        </div>
                    </div>
                    <div class="tab">
                        <input type="checkbox" id="chck2">
                        <label class="tab-label" for="chck2"><img class="icon-menu-item" src="" /><p>Khoá Kaiwa</p></label>
                        <div class="tab-content">
                            <a href="/login">
                                <p>Kaiwa sơ cấp</p>
                            </a>
                            <a href="/login">
                                <p>Kaiwa trung cấp</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <li>
                <a href=""><img class="icon-menu-item" src="" />
                    <p>Chuyên ngành</p>
                </a>
            </li>

        </ul>
    </div>
    <a href="" class="logo" id="logo">
        <img src="../public/images/logo/logo ikigai-01.png" alt="">
    </a>
    <div class="account-container" id="account-container">



        <a href="/login">
            <div class="text-login">Đăng nhập</div>
        </a>
    </div>

</div>
<script src="../../public/js/app.js.download"></script>