<div class="fixed-panel">
    <div class="go-top"><img src="../public/images/icon/go_top.png" alt="" style="height: 45px; width: 45px;"></div>
    <a href="/buy">
        <div class="muahang-btn">
            <i class="fas fa-cart-plus"></i>
            <p>MUA HÀNG</p>
        </div>
    </a>


    <a href="https://www.facebook.com/messages/t/100059338123777" target="_blank">
        <div class="call-btn">
            <i class="fab fa-facebook-messenger"></i>
            <p>Chat</p>
        </div>
    </a>
</div>