<!DOCTYPE html>
<html lang="en">

<head>

    <title>KHÓA N2</title>
    <%- include('../partials/head'); %>
        <style>
            .sectionTop_N2 {
                background: rgb(255, 232, 240);
                min-height: 920px;
                width: 100%;
                background-repeat: repeat;
                position: relative;
                background-size: cover;
                padding-top: 10rem;
            }
            
            .sectionTop_N2 .imgText {
                position: absolute;
                max-width: 600px;
                right: 500px;
                margin-top: 40px;
            }
            
            .sectionTop_N3_block_heading_content {
                width: 40%;
                line-height: 1.6;
                border-top: 2px dashed #114da95c;
                padding-top: 20px;
            }
            
            .sectionTop_N3_block_heading h1 span.num {
                background: #114da9;
                color: #fff;
                padding: 0 10px;
                font-size: 7rem;
                position: relative;
                top: 10px;
            }
            
            .sectionTop_N3_block_heading h1 span.text {
                font-size: 6.5rem;
                color: #114da9;
            }
        </style>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <link rel="stylesheet" href="../public/css/khoahoc.css">

        <div id="wrapper">
            <section class="sectionTop_N2">

                <div class="sectionTop_Head">
                    <h1 class="sectionTop_Header"> KHÓA HỌC TIẾNG NHẬT<br>ONLINE N2</h1>

                    <div class="teacher__screen--slider-slide">

                        <div class="teacher__screen--slider-avatar">
                            <img src="../public/images/HinhGiaoVien/giangvienN2.png" />
                        </div>
                        <div class="teacher__screen--slider-info">
                            <div class="teacher__screen--slider-title">
                                <span style=" font-family: luat;">DƯƠNG MINH LƯỢNG</span>
                            </div>
                            <div class="teacher__screen--slider-description" style="color: rgb(10, 9, 9);">
                                • Phó khoa Tiếng Nhật, trường ĐH Công Nghệ Thông Tin . <br> • Học vấn: Năm 3 chuyên ngành Xử Lí Ngôn Ngữ Tự Nhiên<br> • Giảng viên hợp tác bắt đầu từ tháng 10/2020. </div>
                        </div>

                    </div>
                    <div class=" teacher__screen--slider-buttons">
                        <a href="https://www.facebook.com/duongminh.luong.9/" target="_blank" class="teacher__screen--slider-button-detail mr-5">Xem chi tiết</a>
                        <a class="teacher__screen--slider-button-video" style="color: rgb(10, 9, 9);">
                            <span class="mr-5"><i class="fa fa-2x fa-play-circle-o"></i></span>
                            <span>Xem video giới thiệu</span>
                        </a>
                    </div>

                </div>

        </div>

        </section>
        <section class="sectionTop_02">
            <div class="container">
                <div class="block_white sectionTop_02_video">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">

                            <div class="item active">
                                <img src="../public/images/Khoahoc/hantuN2.png" alt="Los Angeles">
                                <div class="carousel-caption">
                                    <h3>Bài 1: Hán tự cơ bản</h3>
                                    <p>làm quen hán tự và hán tự cơ bản!</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="../public/images/Khoahoc/hoithoaiN2.png" alt="Chicago">
                                <div class="carousel-caption">
                                    <h3>Bài 2: hội thoại chào hỏi</h3>
                                    <p>Tập hội thoại cơ bản!</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="../public/images/Khoahoc/nguphapN2.png" alt="New York">
                                <div class="carousel-caption">
                                    <h3>Bài 3: Ngữ pháp cơ bản</h3>
                                    <p>Giết chết ngữ pháp N2 cùng thầy Lượng!</p>
                                </div>
                            </div>

                        </div>

                        <!-- Left and right controls -->

                    </div>
                </div>
            </div>
        </section>
        <section id="myHeader" class="sectionMenu">
            <div class="container">
                <ul class="nav_menu clickScroll">
                    <li class="active"> <a href="#" class=""> Quyền lợi học viên </a></li>
                    <li> <a id="chiTiet" href="#"> Chi tiết khoá học </a></li>
                    <li> <a class="lotrinh" href="#"> Lộ trình khoá học </a></li>

                    <li> <a class="hocphi" href="#"> Học phí khoá học </a></li>

                </ul>
            </div>
        </section>
        <section id="Page_QuyenLoi" class="sectionQuyenLoi">
            <div class="container">
                <div class="sectionQuyenLoi_block" style="color: black;">
                    <div class="content">
                        <p> <i class="fas fa-fan"></i> <strong>Quyền lợi học viên: </strong></p>
                        <p> <i class="fas fa-fan"></i> Học cùng <strong>CHUYÊN GIA</strong> hàng đầu về luyện thi JLPT.</p>
                        <p> <i class="fas fa-fan"></i> <strong>CUNG CẤP</strong> lộ trình học cá nhân hoá theo từng ngày và từng bài học.</p>
                        <p> <i class="fas fa-fan"></i> <strong>KIỂM TRA, ĐÁNH GIÁ</strong> trình độ tiếng Nhật miễn phí hàng tháng.</p>
                        <p> <i class="fas fa-fan"></i> <strong>HỖ TRỢ</strong> kiến thức, tài liệu học trong suốt quá trình học.</p>
                        <p> <i class="fas fa-fan"></i> <strong>BẢO LƯU</strong> khóa học trong thời gian 6 tháng nếu bạn đã đăng ký nhưng chưa thể học ngay được.</p>
                        <p> <i class="fas fa-fan"></i> <strong>HỌC BỔNG</strong> dành cho các học viên có thành tích học xuất sắc cuối kỳ</p>
                    </div> <img class="teacher" src="../public/images/HinhGiaoVien/giangvienN2.png" alt="">
                </div>
                <div class="sectionQuyenLoi_chitietkhoahoc" id="Page_Chitiet">
                    <h2 class="TitleSection">Chi tiết khóa học</h2>

                    <div class="content">
                        <div class="row">

                            <div class="col-lg-6 col-md-12">
                                <div class="block-panel block-panel-1">
                                    <h5><strong>Đầu ra khóa học: </strong></h5>
                                    <p></p>
                                    <p> <i class="fa fa-certificate"></i>&nbsp; Nắm vững kiến thức của N2: toàn bộ cấu trúc ngữ pháp trong 50 bài Mina no Nihongo và khoảng 1500 từ vựng, hơn 300 chữ Kanji làm bước đệm vững chắc để học lên các trình độ cao
                                        hơn.
                                    </p>
                                    <p> <i class="fa fa-certificate"></i>&nbsp; Học toàn diện 05 kỹ năng quan trọng giúp bạn chinh phục JLPT với số điểm cao nhất: Từ vựng, ngữ pháp, đọc hiểu, nghe hiểu, Kanji.</p>
                                    <p> <i class="fa fa-certificate"></i>&nbsp; Vận dụng thành thạo kỹ năng làm bài thi cùng chiến thuật khoanh đúng, khoanh trúng từ sensei >> nắm chắc 120+ điểm JLPT</p>
                                    <p> <i class="fa fa-certificate"></i>&nbsp; Tích hợp luyện JLPT + luyện Kaiwa lưu loát chuẩn Nhật cùng giáo viên bản xứ</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="block-panel block-panel-2"> <iframe width="100%" height="315" src="https://www.youtube.com/embed/gEdCWuwwwV0" allowfullscreen></iframe>
                                    <h5><strong>Thông tin khoá học: </strong></h5>
                                    <p></p>
                                    <p></p>
                                    <p> <strong>Bài học: </strong>400 video bài học.</p>
                                    <p> <strong>Thời lượng video học:</strong> ~ 30 phút/video</p>
                                    <p> <strong>Đối tượng: </strong>Học viên đã học xong 25 bài của N5, học viên đã học xong N2 nhưng muốn ôn lại. Học trên mọi thiết bị có kết nối Internet.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section id="Page_Lotrinh" class="sectionLotrinh">
            <div class="container">
                <div class="sectionLotrinh_content">
                    <h2 class="TitleSection">Lộ trình học N2 online</h2>
                    <div class="sectionLotrinh_list">

                    </div>
                </div>
            </div>
        </section>

        <section id="Page_HocPhi" class="sectionHocPhi">
            <div class="container">
                <div class="text-center">
                    <h2 class="TitleSection">Học phí khóa học</h2>
                </div>
                <div class="sectionHocPhi_content">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <td class="text-center" style="border: none; background: #ffffff; color: #ffff"> <img src="../../public/images/logo_hocphi.png" width="250" alt=""></td>
                                <td class="text-center clickScroll" style="border: none;">
                                    <h5 class="mb5">Khoá N2 VIP</h5>
                                    <p class="price-light"></p>
                                    <h4 class="mb15"><strong class="price">4.390.000</strong></h4> <a href="/buy" class="btn btn_1">ĐĂNG KÝ HỌC</a></td>
                                <td class="text-center clickScroll" style="border: none;">
                                    <h5 class="mb5">Khoá N2 VIP + Business</h5>
                                    <p class="price-light"> 8.380.000</p>
                                    <h4 class="mb15"><strong class="price">4.990.000</strong></h4> <a href="/buy" class="btn btn_2">ĐĂNG KÝ HỌC</a></td>
                            </tr>
                            <tr>
                                <th class="bgr">Thời gian sử dụng</th>
                                <td class="text-center">18 tháng</td>
                                <td class="text-center">25 tháng</td>
                            </tr>

                            <tr>
                                <th> Số lượng khóa học</th>
                                <td class="text-center"> N2 Junbi, N2 Taisaku, <br> N2 Luyện đề</td>
                                <td class="text-center"> N2 Junbi, N2 Taisaku, N2 Luyện đề, Business</td>
                            </tr>
                            <tr>
                                <th class="bgr" colspan="3" style="text-align: center;">Quyền lợi được nhận</th>
                            </tr>
                            <tr>
                                <th width="250">Quà tặng</th>
                                <td width="300" class="" style="vertical-align: top;">
                                    <p> + Cam kết đỗ JLPT</p>
                                    <p> + ĐƯỢC TEST TRÌNH ĐỘ: đầu kỳ, giữa kỳ, cuối kỳ,</p>
                                    <p> TẶNG TÀI LIỆU SHIP TẬN TAY: + Bảng tổng hợp động từ, ngữ pháp N3</p>
                                    <p> + Bảng tổng hợp động từ, ngữ pháp N2</p>
                                </td>
                                <td class="">
                                    <p>+ Cam kết đỗ JLPT</p>
                                    <p> + ĐƯỢC TEST TRÌNH ĐỘ: đầu kỳ, giữa kỳ, cuối kỳ</p>
                                    <p> + Tặng free khoá luyện đề N3 trị giá <strong class="red">1.390.000vnđ</strong></p>
                                    <p> + Tích hợp theo bài giảng khoá học Online;</p>
                                    <p> + Sổ tay 1000 Từ vựng.Ngữ pháp luôn có trong kỳ thi JLPT N3</p>
                                    <p> + Bộ tài liệu kiến thức tổng hợp N3, N2</p>
                                    <p> + Lộ trình học in màu dán tường</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <%- include('../partials/panel'); %>

</body>

</html>