<!DOCTYPE html>
<html lang="en">

<head>

    <title>KHÓA N4</title>
    <%- include('../partials/head'); %>
        <style>
            .sectionTop_N4 {
                background: rgb(255, 232, 240);
                min-height: 880px;
                width: 100%;
                position: relative;
                background-size: cover;
                padding-top: 10rem;
                margin-bottom: 30px;
            }
            
            .sectionTop_N4 .imgText {
                max-width: 600px;
                margin-top: 40px;
            }
        </style>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <link rel="stylesheet" href="../public/css/khoahoc.css">

        <div id="wrapper">
            <section class="sectionTop_N4">
                <div class="container">
                    <div class="sectionTop_Head">
                        <h1 class="sectionTop_Header"> KHÓA HỌC TIẾNG NHẬT<br>ONLINE N4</h1>
                        <div class="teacher__screen--slider-slide">

                            <div class="teacher__screen--slider-avatar">
                                <img src="../public/images/HinhGiaoVien/giangvienn4.png" />
                            </div>
                            <div class="teacher__screen--slider-info">
                                <div class="teacher__screen--slider-title">
                                    <span style=" font-family: luat;">ĐOÀN ĐƯC PHƯƠNG</span>
                                </div>
                                <div class="teacher__screen--slider-description" style="color: rgb(10, 9, 9);">
                                    • Phó khoa Tiếng Nhật, trường ĐH Công Nghệ Thông Tin . <br> • Học vấn: Năm 3 chuyên ngành Công Nghệ Web<br> • Giảng viên hợp tác bắt đầu từ tháng 10/2020. </div>
                            </div>
                            <div class=" teacher__screen--slider-buttons">
                                <a href="https://www.facebook.com/profile.php?id=100015518012519" target="_blank" class="teacher__screen--slider-button-detail mr-5">Xem chi tiết</a>
                                <a class="teacher__screen--slider-button-video" style="color: rgb(10, 9, 9);">
                                    <span class="mr-5"><i class="fa fa-2x fa-play-circle-o"></i></span>
                                    <span>Xem video giới thiệu</span>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </section>
            <section class="sectionTop_02">
                <div class="container">
                    <div class="block_white sectionTop_02_video">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">

                                <div class="item active">
                                    <img src="../public/images/Khoahoc/hantuN4.png" alt="Los Angeles">
                                    <div class="carousel-caption">
                                        <h3>Bài 1: Hán tự cơ bản</h3>
                                        <p>làm quen hán tự và hán tự cơ bản!</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <img src="../public/images/Khoahoc/hoithoaiN4.png" alt="Chicago">
                                    <div class="carousel-caption">
                                        <h3>Bài 2: hội thoại chào hỏi</h3>
                                        <p>Tập hội thoại cơ bản!</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <img src="../public/images/Khoahoc/nguphapN4.png" alt="New York">
                                    <div class="carousel-caption">
                                        <h3>Bài 3: Ngữ pháp cơ bản</h3>
                                        <p>Giết chết ngữ pháp N4 cùng thầy Phú!</p>
                                    </div>
                                </div>

                            </div>

                            <!-- Left and right controls -->

                        </div>
                    </div>
                </div>
            </section>
            <section id="myHeader" class="sectionMenu">
                <div class="container">
                    <ul class="nav_menu clickScroll">
                        <li class="active"> <a href="#" class=""> Quyền lợi học viên </a></li>
                        <li> <a id="chiTiet" href="#"> Chi tiết khoá học </a></li>
                        <li> <a class="lotrinh" href="#"> Lộ trình khoá học </a></li>

                        <li> <a class="hocphi" href="#"> Học phí khoá học </a></li>

                    </ul>
                </div>
            </section>
            <section id="Page_QuyenLoi" class="sectionQuyenLoi">
                <div class="container">
                    <div class="sectionQuyenLoi_block" style="color: black;">
                        <div class="content">
                            <p> <i class="fas fa-fan"></i> <strong>Quyền lợi học viên: </strong></p>
                            <p> <i class="fas fa-fan"></i> Học cùng <strong>CHUYÊN GIA</strong> hàng đầu về luyện thi JLPT.</p>
                            <p> <i class="fas fa-fan"></i> <strong>CUNG CẤP</strong> lộ trình học cá nhân hoá theo từng ngày và từng bài học.</p>
                            <p> <i class="fas fa-fan"></i> <strong>KIỂM TRA, ĐÁNH GIÁ</strong> trình độ tiếng Nhật miễn phí hàng tháng.</p>
                            <p> <i class="fas fa-fan"></i> <strong>HỖ TRỢ</strong> kiến thức, tài liệu học trong suốt quá trình học.</p>
                            <p> <i class="fas fa-fan"></i> <strong>BẢO LƯU</strong> khóa học trong thời gian 6 tháng nếu bạn đã đăng ký nhưng chưa thể học ngay được.</p>
                            <p> <i class="fas fa-fan"></i> <strong>HỌC BỔNG</strong> dành cho các học viên có thành tích học xuất sắc cuối kỳ</p>
                        </div> <img class="teacher" src="../public/images/HinhGiaoVien/giangvienn4.png" alt="">
                    </div>
                    <div class="sectionQuyenLoi_chitietkhoahoc" id="Page_Chitiet">
                        <h2 class="TitleSection">Chi tiết khóa học</h2>

                        <div class="content">
                            <div class="row">

                                <div class="col-lg-6 col-md-12">
                                    <div class="block-panel block-panel-1">
                                        <h5><strong>Đầu ra khóa học: </strong></h5>
                                        <p></p>
                                        <p> <i class="fa fa-certificate"></i>&nbsp; Nắm vững kiến thức của N4: toàn bộ cấu trúc ngữ pháp trong 50 bài Mina no Nihongo và khoảng 1500 từ vựng, hơn 300 chữ Kanji làm bước đệm vững chắc để học lên các trình độ
                                            cao hơn.
                                        </p>
                                        <p> <i class="fa fa-certificate"></i>&nbsp; Học toàn diện 05 kỹ năng quan trọng giúp bạn chinh phục JLPT với số điểm cao nhất: Từ vựng, ngữ pháp, đọc hiểu, nghe hiểu, Kanji.</p>
                                        <p> <i class="fa fa-certificate"></i>&nbsp; Vận dụng thành thạo kỹ năng làm bài thi cùng chiến thuật khoanh đúng, khoanh trúng từ sensei >> nắm chắc 120+ điểm JLPT</p>
                                        <p> <i class="fa fa-certificate"></i>&nbsp; Tích hợp luyện JLPT + luyện Kaiwa lưu loát chuẩn Nhật cùng giáo viên bản xứ</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="block-panel block-panel-2"> <iframe width="100%" height="315" src="https://www.youtube.com/embed/gEdCWuwwwV0" allowfullscreen></iframe>
                                        <h5><strong>Thông tin khoá học: </strong></h5>
                                        <p></p>
                                        <p></p>
                                        <p> <strong>Bài học: </strong>400 video bài học.</p>
                                        <p> <strong>Thời lượng video học:</strong> ~ 30 phút/video</p>
                                        <p> <strong>Đối tượng: </strong>Học viên đã học xong 25 bài của N5, học viên đã học xong N4 nhưng muốn ôn lại. Học trên mọi thiết bị có kết nối Internet.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <section id="Page_Lotrinh" class="sectionLotrinh">
                <div class="container">
                    <div class="sectionLotrinh_content">
                        <h2 class="TitleSection">Lộ trình học N4 online</h2>
                        <div class="sectionLotrinh_list">
                            <div id="accordion" class="scrollLotrinh">
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1"> Bài 26 - Cách hình thành và sử dụng thể "んです” </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2"> Bài 27: Động từ thể khả năng </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3"> Bài 28: Diễn tả 2 hành động xảy ra song song, cùng lúc. </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4"> Bài 29: Diễn tả trạng thái đồ vật </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5"> Bài 30: Cách diễn tả trạng thái hoặc kết quả của một hành động </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6"> Bài 31: Động từ thể ý chí </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7"> Bài 32: Cách nói diễn tả lời khuyên và khả năng có thể xảy ra một việc gì đó </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8"> Bài 33: Thể mệnh lệnh, cấm đoán </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse9"> Bài 34: Cách nói "theo như", tuần tự của hành động </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse10" aria-expanded="true" aria-controls="collapse10"> Bài 35: Thể điều kiện </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapse11"> Bài 36: Mẫu câu biểu hiện một hành động nào đó có mục đích </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse12" aria-expanded="true" aria-controls="collapse12"> Bài 37: Thể bị động </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse13" aria-expanded="true" aria-controls="collapse13"> Bài 38: Danh từ hoá động từ trong tiếng Nhật </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse14" aria-expanded="true" aria-controls="collapse14"> Bài 39: Mẫu câu về nguyên nhân và kết quả </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse15" aria-expanded="true" aria-controls="collapse15"> Bài 40: Trợ từ nghi vấn </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse16" aria-expanded="true" aria-controls="collapse16"> Bài 41: Cách nói CHO, NHẬN trong tiếng Nhật </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse17" aria-expanded="true" aria-controls="collapse17"> Bài 42: Cấu trúc thể hiện mục đích </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse18" aria-expanded="true" aria-controls="collapse18"> Bài 43: Có vẻ như gì đó “そうです” </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse19" aria-expanded="true" aria-controls="collapse19"> Bài 44: Cách nói quá DỄ hoặc quá KHÓ để làm một việc gì đó </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse20" aria-expanded="true" aria-controls="collapse20"> Bài 45: Ngữ pháp thể hiện sự tiếc nuối </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse21" aria-expanded="true" aria-controls="collapse21"> Bài 46: Thời điểm của hành động </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse22" aria-expanded="true" aria-controls="collapse22"> Bài 47: Cách nói nghe như thế này, nghe như thế kia </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse23" aria-expanded="true" aria-controls="collapse23"> Bài 48: Thể sai khiến </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse24" aria-expanded="true" aria-controls="collapse24"> Bài 49: Tôn kính ngữ (そんけい ご – 尊敬語) </button></div>
                                </div>
                                <div class="accordion_item">
                                    <div class="card-header"> <button class="btn btn-link collapsed hasIcon" data-toggle="collapse" data-target="#collapse25" aria-expanded="true" aria-controls="collapse25"> Bài 50: Khiêm nhường ngữ (けんじょう ご「 謙 譲 語」) </button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="Page_HocPhi" class="sectionHocPhi">
                <div class="container">
                    <div class="text-center">
                        <h2 class="TitleSection">Học phí khóa học</h2>
                    </div>
                    <div class="sectionHocPhi_content">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="text-center" style="border: none;"> <img src="../../public/images/logo_hocphi.png" width="250" alt=""></td>
                                    <td class="text-center clickScroll" style="border: none;">
                                        <h5 class="mb5">Khoá học N4</h5>
                                        <p class="price-light"></p>
                                        <h4 class="mb15"><strong class="price">1.800.000</strong></h4> <a href="/buy" class="btn btn_1">ĐĂNG KÝ HỌC</a></td>
                                    <td class="text-center clickScroll" style="border: none;">
                                        <h5 class="mb5">Khoá học Combo N4-N4</h5>
                                        <p class="price-light"> 9.190.000</p>
                                        <h4 class="mb15"><strong class="price">4.139.000</strong></h4> <a href="/buy" class="btn btn_2">ĐĂNG KÝ HỌC</a></td>
                                </tr>
                                <tr>
                                    <th class="bgr">Thời gian sử dụng</th>
                                    <td class="text-center">5 tháng</td>
                                    <td class="text-center">18 tháng</td>
                                </tr>

                                <tr>
                                    <th>Số lượng khoá học</th>
                                    <td class="text-center"> 1 khoá: N4</td>
                                    <td class="text-center"> 4 khoá: N4 - N4 Junbi - N4 Taisaku - N4 luyện đề</td>
                                </tr>
                                <tr>
                                    <th class="bgr" colspan="3" style="text-align:center ;">Quyền lợi được nhận</th>
                                </tr>
                                <tr>
                                    <th width="250">Du lịch Japan </th>
                                    <td width="100" class="text-center"><i style="color: green;font-size: 34px;" " class=" fa fa-check "></i></td><td class="text-center "><i style="color: green;font-size: 34px; "" class=" fa
                                      fa-check"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="250">Quà tặng</th>
                                    <td width="100" class="text-center"> <i class="fa fa-times" style="color: red;font-size: 34px;"></i></td>
                                    <td class="text-left" width="300">
                                        <p> <i class="fa fa-certificate"></i>&nbsp; Tặng sách CHINH PHỤC CHỮ HÁN N4 kèm file nghe mp3</p>
                                        <p> <i class="fa fa-certificate"></i>&nbsp; Hoặc sách 20 NGÀY CHINH PHỤC NGỮ PHÁP N4 ĐỘC QUYỀN RIKI BOOK</p>
                                        <p> <i class="fa fa-certificate"></i>&nbsp; Sổ tay 1000 Từ vựng - Ngữ pháp luôn có trong kỳ thi JLPT N4</p>
                                        <p> <i class="fa fa-certificate"></i>&nbsp; Bộ tài liệu tổng hợp ngữ pháp và động từ N4 - N2</p>
                                        <p> <i class="fa fa-certificate"></i>&nbsp; Lộ trình học in màu dán tường</p>
                                        <p> <i class="fa fa-certificate"></i>&nbsp; Túi tote tiện dụng (Số lượng túi có hạn)</p>
                                        <p> <i class="fa fa-certificate"></i>&nbsp; Tư vấn lộ trình học miễn phí</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <%- include('../partials/panel'); %>

</body>

</html>